for position in section.resume[lng]
  div.slide
    div.position= position.position
    div.company-name= position.company
    div.place= position.place
    div.period= position.period
    div= position.description