div#header-section.navbar-fixed
  nav
    div.nav-wrapper
      a.link-menu(href="#" data-activates="slide-out").button-collapse
        i.material-icons menu
      a.brand-logo(href="#")
        i.large.material-icons.logo timelapse
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a.link-home(onclick="_moveTo('.section.hero')")= component.header[lng].menu.home
        li
          a.link-aboutMe(onclick="_moveTo('.section.about-me')")= component.header[lng].menu.aboutMe
        li
          a.link-blog(onclick="_moveTo('.section.blog')")= component.header[lng].menu.blog
        li
          a.link-resume(onclick="_moveTo('.section.resume')")= component.header[lng].menu.resume
        li
          a.link-services(onclick="_moveTo('.section.services')")= component.header[lng].menu.services
        li
          a.link-contacts(onclick="_moveTo('.section.contact')")= component.header[lng].menu.contact
        li
          a.link-en(href="/en")= component.header[lng].lang.en
        li
          a.link-ru(href="/ru")= component.header[lng].lang.ru
        li
          a.link-ua(href="/ua")= component.header[lng].lang.ua

ul#slide-out.side-nav
  li
    div.user-view
      div.background
        img(src="/static/images/slide-out-bg.jpg")
      a(href="#!user")
        img.circle(src="/static/images/face-64x64.jpg")
        a(href="#!name")
          span.white-text.name Viktor
        a(href="#!email")
          span.white-text.email viktor.likin@gmail.com
  li
    ul
      li
        a.link-home.sidenav-close(onclick="_moveTo('.section.hero')")= component.header[lng].menu.home
      li
        a.link-aboutMe.sidenav-close(onclick="_moveTo('.section.about-me')")= component.header[lng].menu.aboutMe
      li
        a.link-blog.sidenav-close(onclick="_moveTo('.section.blog')")= component.header[lng].menu.blog
      li
        a.link-resume.sidenav-close(onclick="_moveTo('.section.resume')")= component.header[lng].menu.resume
      li
        a.link-services.sidenav-close(onclick="_moveTo('.section.services')")= component.header[lng].menu.services
      li
        a.link-contacts.sidenav-close(onclick="_moveTo('.section.contact')")= component.header[lng].menu.contact
      li
        a.link-en(href="/en")= component.header[lng].lang.en
      li
        a.link-ru(href="/ru")= component.header[lng].lang.ru
      li
        a.link-ua(href="/ua")= component.header[lng].lang.ua
