div#header
  div.logo
  div.menu
    a(href="#homePage")= component.header[lng].menu.home
    a(href="#aboutMePage")= component.header[lng].menu.aboutMe
    a(href="#resumePage")= component.header[lng].menu.resume
    a(href="#servicesPage")= component.header[lng].menu.services
    a(href="#contactPage")= component.header[lng].menu.contact
