div#header
  div.material-icons.logo timelapse
  div.material-icons.mobile-menu-button menu
  div.menu
    div.material-icons.close-button arrow_back
    div.link(data-href="heroPage")= component.header[lng].menu.home
    div.link(data-href="aboutMePage")= component.header[lng].menu.aboutMe
    div.link(data-href="resumePage")= component.header[lng].menu.resume
    div.link(data-href="servicesPage")= component.header[lng].menu.services
    div.link(data-href="contactPage")= component.header[lng].menu.contact
